$colorsecundario:#000; // TODO: * Modificar color secundario
$colorprimario: $colorsecundario; // TODO: * Modificar color primario
$fondo-l:'media/fondo-long.jpg'; // TODO: * Modificar fondo de pantalla
$fondo-s:'media/fondo-small.jpg'; // TODO: * Modificar fondo de pantalla
$font-primary: "fonts/handayani.ttf";
$font-secondary-b: "fonts/opensans/OpenSans-Bold.ttf";
$font-secondary-l: "fonts/opensans/OpenSans-Light.ttf";