-   
    // TODO: nombre de variable PLATES
    var combos = {
        name: "Combos",
        category: "combos",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: {
                    picture:"COMBO1",
                    extention: ".png"
                },
                text: "Combo 1",
                description: "Roast Beef Panini 15 cm + Mood Salad M + Gaseosa Pepsi ó  Guaraná o 7-Up de 500ml.",
                price_uno: "54",
                price_dos: false,
                link:"combo1.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO2",
                    extention: ".png"
                },
                text: "Combo 2",
                description: "Pollo Pesto Panini  15 cm + Italian Salad M + Gaseosa Pepsi o Guarana o 7-Up de 500ml.",
                price_uno: "49",
                price_dos: false,
                link:"combo2.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO3",
                    extention: ".png"
                },
                text: "Combo 3",
                description: "Panini Tartar 15 cm + Avocado salad M + gaseosa Pepsi ó Guaraná ó 7-Up de 500ml.",
                price_uno: "54",
                price_dos: false,
                link:"combo3.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO4",
                    extention: ".png"
                },
                text: "Combo 4",
                description: "Hamburguesa de res + Ensalada Rusa + Gaseosa Pepsi o Guarana o 7-Up de 500ml.",
                price_uno: "54",
                price_dos: false,
                link:"combo4.html",
                status: true
            },
            {
                img: {
                    picture:"COMBO_FAMILIAR",
                    extention: ".png"
                },
                text: "Combo Familiar",
                description: "Panini Healthy, Panini Mushroom + Ensalada Waldorf + Ensalada de frutas + 3 gaseosas Pepsi ó Guaraná o 7-Up de 500ml.",
                price_uno: "99",
                price_dos: false,
                link:"combo_familiar.html",
                status: true
            },
            
        ]
    }