//- TODO: *Configuraciones iniciales
- var title = "Nombre"
- var author = "Cristhian Chauca"
- var page = "Pagina"
- var metadescripcion = ""
- var keywords = ""
- var dishes = ""
//- TODO: *config THEME
- var logo = {img:"logo",extention:".png",alt: "Logo"}
- var favIcon = "favicon.png"
- var colorTheme = "#3d2116"
- var bannerHeader= {img:"header",extention:".png", alt: "banner - header"}
- 
    var sponsor = [
        {
            name:"pepsi",
            extension: ".png"
        }
    ];
- var boton = "boton.svg"
- var btnAtras = "flecha.svg"