-   
    // TODO: nombre de variable PLATES
    var ensaladas = {
        name: "Ensaladas",
        category: "ensaladas",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: {
                    picture:"MOOD_SALAD",
                    extention: ".png"
                },
                text: "Mood Salad",
                description: "Mix de lechugas, tomates, palta, choclo, pepinillo, atún, aceituna, y brotes de soya.",
                price_uno: "25",
                price_dos: "35",
                link:"mood_salad.html",
                status: true
            },
            {
                img: {
                    picture:"AVOCADO_SALAD",
                    extention: ".png"
                },
                text: "Avocado Salad",
                description: "Palta, tomate, choclitos  dulces, pepino, pimienta y vinagreta aromatizada.",
                price_uno: "22",
                price_dos: "32",
                link:"avocado_salad.html",
                status: true
            },
            {
                img: {
                    picture:"ITALIAN_SALAD",
                    extention: ".png"
                },
                text: "Italian Salad",
                description: "Cebolla, tomates deshidratados, aceitunas, parmesano, aceite de oliva, albahaca, fusilli y croutones de pan.",
                price_uno: "19",
                price_dos: "29",
                link:"italian_salad.html",
                status: true
            },
            {
                img: {
                    picture:"GREEK_SALAD",
                    extention: ".png"
                },
                text: "Greek Salad",
                description: "Tomate, cebolla, pepino, orégano, vinagre tinto, miel, aceitunas, queso.",
                price_uno: "20",
                price_dos: "30",
                link:"greek_salad.html",
                status: true
            },
            {
                img: {
                    picture:"ENSALADA_WALDORF",
                    extention: ".png"
                },
                text: "Ensalada Waldorf",
                description: "Manzana verde, apio, lechuga, nuez, pasas, aliño de mayonesa con vinagre dulzón.",
                price_uno: "30",
                price_dos: "32",
                link:"ensalada_waldorf.html",
                status: true
            },
            {
                img: {
                    picture:"ENSALADA_RUSA",
                    extention: ".png"
                },
                text: "Ensalada Rusa",
                description: "Zanahoria, papa,  arvejas, mayonesa, perejil.",
                price_uno: "18",
                price_dos: "28",
                link:"ensalada_rusa.html",
                status: true
            },
            {
                img: {
                    picture:"ENSALADA_DE_QUINOA",
                    extention: ".png"
                },
                text: "Ensalada de Quinua",
                description: "Quinua, tomate, pepino, queso, perejil, manzana, miel,  vinagreta aromatizada , aceite de oliva.",
                price_uno: "22",
                price_dos: "32",
                link:"ensalada_de_quinoa.html",
                status: true
            },
            {
                img: {
                    picture:"ENSALADA_DE_FRUTAS",
                    extention: ".png"
                },
                text: "Ensalada de Frutas",
                description: "Naranja, papaya, piña, plátano, manzana, almíbar  de canela y clavo de olor natural.",
                price_uno: "18",
                price_dos: "28",
                link:"ensalada_de_frutas.html",
                status: true
            }
        ]
    }