-   
    // TODO: nombre de variable PLATES
    var extras = {
        name: "Extras",
        category: "extras",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: {
                    picture:"ARROZ_PRIMAVERA",
                    extention: ".png"
                },
                text: "Arroz Primavera",
                description: "",
                price_uno: 10,
                price_dos: false,
                link:"arroz_primavera.html",
                status: true
            },
            {
                img: {
                    picture:"MAC_Y_QUESO",
                    extention: ".png"
                },
                text: "Pasta",
                description: "",
                price_uno: 10,
                price_dos: false,
                link:"pasta.html",
                status: true
            },
            {
                img: {
                    picture:"PAPAS_FRITAS",
                    extention: ".png"
                },
                text: "Papas Fritas",
                description: "",
                price_uno: 10,
                price_dos: false,
                link:"papas_fritas.html",
                status: true
            }
               
        ]
    }