-   
    // TODO: nombre de variable PLATES
    var hamburguesas = {
        name: "Hamburguesas",
        category: "hamburguesas",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: {
                    picture:"HAMBURGUESA_DE_LENTEJA",
                    extention: ".png"
                },
                text: "Hamburguesa de lenteja",
                description: "Pan con cobertura de avena, tomate, lechuga, cebolla, rabanito y queso.",
                price_uno: 30,
                price_dos: false,
                link:"hamburguesa_de_lenteja.html",
                status: true
            },
            {
                img: {
                    picture:"HAMBURGUESA_DE_QUINOA",
                    extention: ".png"
                },
                text: "Hamburguesa Quinua",
                description: "Pan con cobertura de sésamo, lechuga, tomate, pepino, queso.",
                price_uno: 30,
                price_dos: false,
                link:"hamburguesa_guinoa.html",
                status: true
            },
            {
                img: {
                    picture:"HAMBURGUESA_DE_RES",
                    extention: ".png"
                },
                text: "Hamburguesa de res",
                description: "Pan con cobertura de sésamo, lechuga, tomate deshidratado y cebollas grilladas.",
                price_uno: 32,
                price_dos: false,
                link:"hamburguesa_de_res.html",
                status: true
            },
            {
                img: {
                    picture:"HAMBURGUESA_DE_REMOLACHA",
                    extention: ".png"
                },
                text: "Hamburguesa de remolacha",
                description: "Pan con cobertura de avena, lechuga, tomate, cebolla, queso.",
                price_uno: 30,
                price_dos: false,
                link:"hamburguesa_de_remolacha.html",
                status: true
            }
            
        ]
    }