-   
    var menu = [
        {
            name: "Combos",
            link: "combos.html",
            img: "./media/boton-combos.svg",
            status: true
        },
        {
            name: "Sandwiches",
            link: "sandwiches.html",
            img: "./media/boton-sandwiches.svg",
            status: true
        },
        {
            name: "Ensaladas",
            link: "ensaladas.html",
            img: "./media/boton-ensaladas.svg",
            status: true
        },
        {
            name: "Hamburguesas",
            link: "hamburguesas.html",
            img: "./media/boton-hamburguesas.svg",
            status: true
        },
        {
            name: "Extras",
            link: "extras.html",
            img: "./media/boton-extras.svg",
            status: true
        },
        {
            name: "Bebidas",
            link: "bebidas.html",
            img: "./media/boton-bebidas.svg",
            status: true
        }
    ]