-   
    var menu = [
        {
            name: "Combos",
            link: "combos.html",
            status: true
        },
        {
            name: "Sandwiches",
            link: "sandwiches.html",
            status: true
        },
        {
            name: "Ensaladas",
            link: "ensaladas.html",
            status: true
        },
        {
            name: "Hamburguesas",
            link: "hamburguesas.html",
            status: true
        },
        {
            name: "Extras",
            link: "extras.html",
            status: true
        },
        {
            name: "Bebidas",
            link: "bebidas.html",
            status: true
        }
    ]