-   
    // TODO: nombre de variable PLATES
    var sandwiches = {
        name: "Sandwiches",
        category: "sandwiches",
        descripcion: "Aqui va la descripcion de la pagina",
        content: [
            {
                img: {
                    picture:"ROASTBEEF_SANDWICH",
                    extention: ".png"
                },
                text: "Sw Roast Beef",
                description: "Carne, pepinillos, tomate, lechuga, pepinillo, mostaza, queso mozarela y guarnición a elección (papas fritas, arroz primavera o pasta)",
                price_uno: 26,
                price_dos: 38,
                link:"sw_roast_beef.html",
                status: true
            },
            {
                img: {
                    picture:"SANDWICH_CRIOLLO",
                    extention: ".png"
                },
                text: "Sw Criollo",
                description: "Queso criollo, lechuga, tomate, cebolla y guarnación a elección.",
                price_uno: 24,
                price_dos: 36,
                link:"sw_criollo.html",
                status: true
            },
            {
                img: {
                    picture:"SANDWICH_TRANCAPECHO",
                    extention: ".png"
                },
                text: "Sw Trancapecho",
                description: "Carne asada con cebolla, tomate, morrón.",
                price_uno: 24,
                price_dos: 36,
                link:"sw_trancapecho.html",
                status: true
            },
            {
                img: {
                    picture:"SANDWICH_PIQUE_MACHO",
                    extention: ".png"
                },
                text: "Sw Pique Macho",
                description: "Panini de pique macho servido con guarnición a elección.",
                price_uno: 28,
                price_dos: 39,
                link:"sw_pique_macho.html",
                status: true
            },
            {
                img: {
                    picture:"MUSHROOM_SANDWICH",
                    extention: ".png"
                },
                text: "Mushroom Sandwich",
                description: "Champiñones, pepinillos, cebolla acaramelizada, tomate deshidratado y guarnición a elección (papas fritas, arroz primavera o pasta)",
                price_uno: 24,
                price_dos: 36,
                link:"mushroom_sandwich.html",
                status: true
            },
            {
                img: {
                    picture:"SANDWICH_POLLO_BBQ",
                    extention: ".png"
                },
                text: "Pollo BBQ Sw",
                description: "Pollo, queso mozarela, salsa BBQ y guarnición a elección (papas fritas, arroz primavera o pasta)",
                price_uno: 24,
                price_dos: 36,
                link:"pollo_bbq_sw.html",
                status: true
            },
            {
                img: {
                    picture:"SANDWICH_BZT",
                    extention: ".png"
                },
                text: "BZT Sw",
                description: "Tocino, queso parmesano, zuccini, tomate y guarnación a elección (papas fritas, arroz primavera o pasta)",
                price_uno: 22,
                price_dos: 32,
                link:"bzt_sw.html",
                status: true
            },
            {
                img: {
                    picture:"POLLO_PESTO",
                    extention: ".png"
                },
                text: "Pollo Pesto Sandwich",
                description: "Lechuga, tomate deshidritado, pollo, queso, pesto y guarnición a elección (papas fritas, arroz primavera o pasta)",
                price_uno: 24,
                price_dos: 36,
                link:"pollo_pesto_sandwich.html",
                status: true
            },
            {
                img: {
                    picture:"SANDWICH_BACON_&_EGG",
                    extention: ".png"
                },
                text: "Bacon & Egg Sandwich",
                description: "Lechuga, tomate, huevo frito, tocino y queso mozarela y guarnación a elección (papas fritas, arroz primavera o pasta)",
                price_uno: 22,
                price_dos: 32,
                link:"bacon_and_egg_sandwich.html",
                status: true
            },
            {
                img: {
                    picture:"SANDWICH_VEGGIE",
                    extention: ".png"
                },
                text: "Veggie Sandwich",
                description: "Queso, lechuga, tomate, cebolla, pepino, huevo duro y guarnición a elección (papas fritas, arroz primavera o pasta).",
                price_uno: 20,
                price_dos: 28,
                link:"veggie_sandwich.html",
                status: true
            },
            {
                img: {
                    picture:"SANDWICH_TARTAR",
                    extention: ".png"
                },
                text: "Tartar",
                description: "Carne cruda de res, cebolla, pepinillo, huevo duro, mayonesa y guarnación a elección (papas fritas, arroz primavera o pasta)",
                price_uno: 30,
                price_dos: 42,
                link:"tartar.html",
                status: true
            },
            {
                img: {
                    picture:"SANDWICH_JAMON_Y_QUESO",
                    extention: ".png"
                },
                text: "Jamon y Queso",
                description: "Lechuga, tomate, jamón, pepino, queso y guarnición a elección (papas fritas, arroz primavera o pasta)",
                price_uno: 18,
                price_dos: 28,
                link:"jamon_y_queso.html",
                status: true
            },    
        ]
    }