extends ../templates/template-dishes
include ../mixins/platos
block append config
    // TODO: * Modificar nombre de Objeto
    - page = plates.name
    // TODO: * Modificar nombre de Objeto
    - metadescripcion = plates.descripcion
block content
    .container
        .dishes
            include ../mixins/platos-body
            // TODO: * Modificar nombre de Objeto
            +platos-body(plates)