include ../config/menu
.menu
    .menu__body
        nav.menu__nav
            each item in menu
                a(href=item.link).menu__item
                    img(src=item.img, alt="")
                    span.menu__text #{item.name}