
.headerdishes{
    font-size: 1.7em;
    color:$colorsecundario;
    padding-bottom: 3px;
    position: relative;
    font-family: $font;
    text-align: center;
    margin-top: 1.4em;
    margin-bottom: 1.4em;
}
.dishes{
    display: grid;
    grid-template-columns: repeat(3, minmax(190px,224px));
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    margin-bottom: 70px;
    justify-content: center;
    &__link{
        text-decoration:none;
        width: 100%;
        height: auto;
    }
    &__link:hover .dishes__img{
        transform:scale(1.03);
        transform-origin: center;
        transition:transform .3s ease;
    }
    &__picture{
        display: block;
    }
    &__plate{

    }
    &__img{
        width: 100%;
        min-height: 100px;
    }
    &__text{
        text-align: center;
        width: 100%;
        display: block;
        font-size: 1em;
    }
    &__price{
        font-size: 1em;
    }
    &__name{
        text-align: center;
        color:$colorsecundario;
        justify-content: center;
        font-family: $font-b;
    }
}