.titulo {
  max-width: 100%;
  font-size: 1rem;
  margin-bottom: 10px;
  width: 100%;
  &__content {
    text-align: center;
    margin: 0 auto;
    font-family: $font-b;
  }
  &__text {
    color: $colorsecundario;
    font-size: 1.35em;
  }
}
