@media screen and(max-width:320px) {
  body {
    font-size: 16px;
  }
  .headerdishes {
    margin-top: 1em;
    &__container {
      font-size: 0.8em;
    }
  }
  .dishes {
    &__plate {
      width: 100%;
      height: auto;
    }
    &__name {
      font-size: 0.9em;
    }
  }
  .header {
    margin-bottom: 0px;
  }
  .menu {
    grid-column-gap: 10px;
    &__item {
      width: 90%;
      font-size: 1.6em;
    }
  }
  .plate {
    &__img {
      width: 85%;
    }
    &__title {
      font-size: 1.3em;
    }
    &__text {
      font-size: 1.2em;
    }
    &__price {
      font-size: 1.3em;
    }
  }
}
