@media screen and(max-width:480px) {
  body {
    font-size: 16px;
    @if $fondo-s {
      background-image: url($fondo-s);
    }
  }
  .container {
    width: 90%;
  }
  .headerdishes {
    margin-bottom: 15px;
    &__container {
      width: 70%;
    }
  }
  .dishes {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 12px;
    font-size: 14px;
    justify-items: center;
    &__plate {
      width: 90%;
    }
    &__text {
      text-align: center;
      line-height: 0.92em;
    }
  }
  .content__plate{
    padding-bottom: 0px;
  }
  .plate {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    &__img {
      width: 80%;
    }
    &__body {
      padding-left: 10px;
      padding-right: 10px;
    }
    &__logo {
      right: 10px;
      width: 140px;
    }
    &__title {
      font-size: 1.3em;
      line-height: 1.1em;
      margin-bottom: 14px;
    }
    &__price {
      font-size: 1.3em;
    }
    &__text {
      font-size: 1em;
      margin-top: 14px;
    }
  }
  .header {
    height: auto;
    margin-top: 20px;
    margin-bottom: 25px;
    &__logo {
      width: 180px;
    }
  }
  .menu {
    width: 100%;
    margin-top: 0px;
    padding-bottom: 20px;
    &__nav {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 15px;
      grid-column-gap: 23px;
      width: 100%;
    }
    &__body {
      width: 80%;
    }
    &__item {
      font-size: 2em;
      width: 85%;
    }
  }
  .btn {
    width: 80px;
  }
  .sponsors {
    &__body {
      flex-direction: column;
    }
  }
  .lists {
    &__content {
      width: 100%;
      margin: 0 auto;
    }
  }
  .chops {
    &__prices {
      grid-template-columns: repeat(4, 50px);
    }
    &__price {
      width: 50px;
    }
    &__name {
      width: 50px;
    }
  }
}
